<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<header>
    <h1>Car</h1>
</header>

<section>
    <form>
        <div>
            <label for="field_CarModel">Car model</label>
            <input id="field_CarModel" type="text" value=""/>
        </div>
        <div>
            <label for="field_yearOfIssue">Year of issue</label>
            <input id="field_yearOfIssue" type="number" value="">
        </div>
        <div>
            <label for="field_color">Color</label>
            <input id="field_color" type="text" value="">
        </div>
        <div>
            <label for="field_price">Price per day</label>
            <input id="field_price" type="text" value="">
        </div>
        <div>
            <a href="../../../../../../documentation/html_template/allCars.html">Cancel</a>
            <a href="../../../../../../documentation/html_template/allCars.html">Save</a>
        </div>
    </form>
</section>

<footer>
    <hr/>
    <p>&copy;Created by Ivan Aleinikau 2021</p>
</footer>
</body>
</html>